* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #e8f7fd;
}
body {
   background-color: #1e2028 !important;
}

//header
header {
   transition: transform 0.3s ease-in-out;

   background-color: #2f3540;
   position: fixed;

   width: 100%;
   z-index: 4;

   .logo {
      height: 35px;
   }
   .search {
      width: 700px;
   }
   .search-icon-background {
      background-color: #1e2028;
   }
   nav {
      transition: all;
      transition-duration: 0.5s;
   }
}
.form-control:focus {
   box-shadow: none !important;
}

.hide-navbar {
   transform: translateY(-100%);
}

.btn-search {
   background-color: #01adc1 !important;
   // display: hidden;
}

//content
.content {
   background-color: #1e2028;
   min-height: 100vh;
   padding-top: 50px;
}

.title {
   font-size: 1.5rem;
   margin-bottom: 20px;
   &:before {
      content: "";
      border-left: solid 5px #01adc1;
      padding: 5px;
   }
}

.movie-section {
   padding: 30px 0px;
}

//movie
.poster-img {
   width: 200px;
   object-fit: contain;
   height: 300px;
}

.card {
   margin: 10px auto 10px auto; //top right bottom left

   width: 200px;
   background-color: #282d34 !important;
   .movie-name,
   .meta-info {
      font-size: 13px;
   }
   .card-body {
      height: 70px;
   }

   .star {
      position: relative;
      bottom: 3px;
      color: yellow;
   }
}

//watch button
.btn-watch {
   background-color: #404656 !important;
   font-size: 13px !important;
   width: 100%;
   min-width: 150px;
   .play-icon {
      position: relative;
      top: 4px;
   }
}

//browse

@media (max-width: 768px) {
   .backdrop {
      height: 120vh !important;
   }
}
.backdrop {
   height: 95vh;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   top: 25px;

   * {
      z-index: 2;
   }

   .info {
      justify-self: center;
   }

   img {
      width: 200px;
      box-shadow: 5px 5px 50px rgb(58, 57, 57);
   }

   .side-rating {
      h2 {
         color: #0d8497 !important;
         padding: 10px;
      }
      border-radius: 0 10px 10px 0;
      background-color: #2f3035bb;
   }

   .right-half,
   .left-half {
      max-width: 400px;
   }

   .overview,
   .details {
      font-size: 12.5px;
      font-weight: 350;
   }
}
.backdrop:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(11, 11, 11, 0.5);
}

//embeded video{
.embed {
   width: 70%;
   position: absolute;
   z-index: 3;
   top: 50px;
   left: 15%;

   transition: all;
   transition-duration: 1s;
}

.hide-embed {
   opacity: 0;
}
.embed-none {
   display: none;
}

.btn-cross {
   font-size: 1.5rem;
   font-weight: 700 !important;
   border-radius: 50%;
   padding: 1px;
   position: absolute;
   right: 5px;
   background-color: white;
   top: 5px;
   transition: all;
   transition-duration: 0.3s;

   &:hover {
      background-color: #0d8396;
      cursor: pointer;
   }
}

//admin
.admin {
   display: flex;
}
